<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Что в кино">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Что в кино</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  </head>

  <body>

    <nav class="navbar">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Что в кино</a>
        </div>
        <div class="collapse navbar-collapse">
          <a href="#" class="navbar-text pull-right" data-toggle="modal" data-target="#modal">API</a>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row" id="container" style="margin-bottom: 75px;"></div>
    </div><!-- /.container -->

    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Информация об API</h4>
          </div>
          <div class="modal-body">
            <p>Получить данные о фильмах в формате JSON 
              можно, обратившись по адресу <a href="/api/movies">/api/movies</a>
            </p>
            <p>В ответе будет содержаться список фильмов 
              с дополнительными данными о каждом из них
            </p>
            <p>Информация о фильме включает:</p>
            <ul>
              <li><b>title</b> - название фильма</li>
              <li><b>rating_value</b> - рейтинг</li>
              <li><b>rating_count</b> - количество проголосовавших</li>
              <li><b>url</b> - ссылка на страницу фильма на Афише</li>
              <li><b>image_url</b> - ссылка на обложку</li>
            </ul>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="navbar navbar-default navbar-fixed-bottom">
      <div class="container">
        <p class="navbar-text pull-left">
          Настоящий сайт создан в исключительно учебных целях. 
          Все сведения о фильмах взяты с сайтов 
          <a href="https://www.afisha.ru">Афиша</a> 
          и <a href="https://www.kinopoisk.ru">Кинопоиск.</a>
        </p>
      </div>
    </div>

    <script>
      const container = document.getElementById("container")
      fetch('/api/movies').then(response => response.json()).then(movieInfos => {
        for (let movieInfo of movieInfos) {
          let wrapper = document.createElement("div")
          wrapper.setAttribute("class", "col-sm-6 col-md-4")
          let thumbnail = document.createElement("div")
          thumbnail.setAttribute("class", "thumbnail")
          let anchor = document.createElement("a")
          anchor.setAttribute("href", movieInfo.url)
          let image = document.createElement("img")
          image.setAttribute("style", "height: 100%; width: 100%; display: block;")
          image.setAttribute("src", movieInfo.image_url)
          let caption = document.createElement("div")
          caption.setAttribute("class", "caption")
          let movieTitle = document.createElement("h4")
          movieTitle.textContent = movieInfo.title
          let infoText = document.createElement("p")
          infoText.innerHTML =
           `Рейтинг: <b>${movieInfo.rating_value}</b>, голосов: <b>${movieInfo.rating_count}</b>`
          
          anchor.appendChild(image)
          caption.append(movieTitle)
          caption.append(infoText)
          thumbnail.append(anchor)
          thumbnail.append(caption)
          wrapper.appendChild(thumbnail)
          container.appendChild(wrapper)
        }
      })
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
